name: remix-hono-template

networks:
  remix-hono-network:
    external: true

x-defaults: &defaults
  tty: true
  networks:
    - remix-hono-network

services:
  node:
    <<: *defaults
    container_name: node
    build:
      context: .
      dockerfile: ./docker/local/node/Dockerfile
    ports:
      - 3000:3000
      - 80:5173
      - 8000:5174
    volumes:
      - .:/app
