name: Pull request workflow

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  constants:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.setup-matrix.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup matrix
        id: setup-matrix
        run: |
          json=$(cat ./.github//matrix.yml| ruby -ryaml -rjson -e 'puts YAML.load(STDIN).to_json')
          echo "matrix=${json}" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: constants
    steps:
      - name: echo
        run: echo ${{ needs.constants.outputs.matrix }}

        # ${{ needs.constants.outputs }}

    # uses: ./.github/workflows/build.yml
    # with:
    #   matrix: ${{ needs.constants.outputs.matrix }}
