name: Pull request workflow

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  constants:
    uses: ./.github/workflows/constant.yml

  build:
    runs-on: ubuntu-latest
    needs: constants
    steps:
      - name: echo
        run: echo ${{ needs.constants.outputs }}

    # uses: ./.github/workflows/build.yml
    # with:
    #   matrix: ${{ needs.constants.outputs.matrix }}
